<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Ne İzlesek?</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body>
    <div class="hero_area">
        <main role="main" class="pb-0">
            <!-- header section strats -->
            <header class="header_section">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                            <img src="~/images/neizlesek1.2.png" alt="Logo">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/Home/Index">Anasayfa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/About"> Kategoriler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Movies">Filmler</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Home/Series">Diziler</a>
                                </li>

                                @* login sign up li formlari *@
                                @* <li class="nav-item">
                                <a class="nav-link" href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>
                                Login
                                </span>
                                </a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="#">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <span>
                                Sign Up
                                </span>
                                </a>
                                </li> *@
                                <form class="form-inline">
                                    <button class="btn   nav_search-btn" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            @RenderBody()
            <!-- category section -->
            <section class="category_section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                            <a href="#" class="box">
                                <div class="img-box">
                                    <img src="~/images/cinema.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Film
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                            <a href="#" class="box">
                                <div class="img-box">
                                    <img src="~/images/cinema1.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Cinema
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                            <a href="#" class="box">
                                <div class="img-box">
                                    <img src="~/images/cinema2.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        TV Series
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                            <a href="#" class="box">
                                <div class="img-box">
                                    <img src="~/images/cinema3.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        IMDB
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                            <a href="#" class="box">
                                <div class="img-box">
                                    <img src="~/images/cinema4.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Reviews
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                            <a href="#" class="box">
                                <div class="img-box">
                                    <img src="~/images/cinema5.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Top Picks
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end category section -->
        </main>
        <!-- end expert section -->
        <!-- info section -->
        <section class="info_section ">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 info_links">
                        <h4>
                            Menu
                        </h4>
                        <ul>
                            <li class="active">
                                <a href="/Home/Index">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/Home/About">
                                    About
                                </a>
                            </li>
                            <li>
                                <a class="" href="/Home/Movies">
                                    Movies
                                </a>
                            </li>
                            <li>
                                <a class="" href="/Home/Series">
                                    Series
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>
                            Welcome
                        </h4>
                        <p>
                            Sinemanın büyülü dünyasına hoş geldiniz. En yeni filmleri, dizileri keşfedin, unutulmaz anları yakalayın.
                            Sitemizdeki içerikle ilgili herhangi bir soru için bize ulaşmaktan çekinmeyin. İyi seyirler!
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="info_social">
                            <h4>
                                Social Link
                            </h4>
                            <div class="social_container">
                                <div>
                                    <a href="https://www.github.com/yigityalcin" target="_blank">
                                        <i class="fa fa-github" aria-hidden="true"></i>
                                    </a>
                                </div>
                                @* <div>
                                <a href="https://www.x.com/yigityalcin" target="_blank" >
                                <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                </div> *@
                                <div>
                                    <a href="https://www.linkedin.com/in/yigityalciin" target="_blank">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div>
                                    <a href="https://www.instagram.com/yigityalciin" target="_blank">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info_form">
                            <h4>
                                Newsletter
                            </h4>
                            <form action="">
                                <input type="text" placeholder="Enter Your Email" />
                                <button type="submit">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end info_section -->
        <!-- footer section -->
        <footer class="footer_section">
            <div class="container">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="#">Yigit Yalcin</a>
                </p>
            </div>
        </footer>
        <!-- footer section -->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ne izlesek</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ne-izlesek-Web-App.styles.css" asp-append-version="true" />
</head> *@
