
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="index_area">
        <!-- end header section -->
        <!-- slider section -->
        <section class="slider_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8 mx-auto">
                        <div class="detail-box">
                            <h1>
                                Sinema ve Dizi <br />
                                Dünyasına Yolculuk
                            </h1>
                            <p>
                                Karar Verme Zorluğunu Ortadan Kaldırın! Binlerce Film ve Dizi, Tek Bir Adreste.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="find_container ">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <form>
                                    <div class="form-row ">
                                        <div class="form-group col-lg-3">
                                            <input type="text" class="form-control" id="inputPatientName" placeholder="Keywords">
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <select name="" class="form-control wide" id="inputDoctorName">
                                                <option value="Gerilim">Gerilim</option>
                                                <option value="Aksiyon">Aksiyon</option>
                                                <option value="Komedi">Komedi</option>
                                                <option value="Bilim Kurgu">Bilim Kurgu</option>
                                                <option value="Korku">Korku</option>
                                                <option value="Romantik">Romantik</option>
                                                <option value="Drama">Drama</option>
                                                <option value="Belgesel">Belgesel</option>
                                                <option value="Suç">Suç</option>
                                                <option value="Macera">Macera</option>
                                                <option value="Fantastik">Fantastik</option>
                                                <option value="Animasyon">Animasyon</option>
                                                <option value="Müzikal">Müzikal</option>
                                                <option value="Tarihi">Tarihi</option>
                                                <option value="Gizem">Gizem</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <select name="" class="form-control wide" id="inputDepartmentName">
                                                <option value="Normal distribution ">2020-? </option>
                                                <option value="Normal distribution ">2010-2020 </option>
                                                <option value="Normal distribution ">2000-2010</option>
                                                <option value="Normal distribution ">1990-2000</option>
                                                <option value="Normal distribution ">?-1990</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3">
                                            <div class="btn-box">
                                                <button type="submit" class="btn ">Filmleri Getir</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="job_check_list">
                            <li class=" ">
                                <input id="checkbox_qu_01" type="checkbox" class="styled-checkbox">
                                <label for="checkbox_qu_01">
                                    Dizi
                                </label>
                            </li>
                            <li class=" ">
                                <input id="checkbox_qu_02" type="checkbox" class="styled-checkbox">
                                <label for="checkbox_qu_02">
                                    Film
                                </label>
                            </li>
                            <li class=" ">
                                <input id="checkbox_qu_03" type="checkbox" class="styled-checkbox">
                                <label for="checkbox_qu_03">
                                    Çocuk
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>
    <!-- category section -->
    <section class="category_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                    <a href="#" class="box">
                        <div class="img-box">
                            <img src="~/images/cinema.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Film
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                    <a href="#" class="box">
                        <div class="img-box">
                            <img src="~/images/cinema1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cinema
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                    <a href="#" class="box">
                        <div class="img-box">
                            <img src="~/images/cinema2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                TV Series
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                    <a href="#" class="box">
                        <div class="img-box">
                            <img src="~/images/cinema3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                IMDB
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                    <a href="#" class="box">
                        <div class="img-box">
                            <img src="~/images/cinema4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Reviews
                            </h5>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-2 px-0">
                    <a href="#" class="box">
                        <div class="img-box">
                            <img src="~/images/cinema5.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Top Picks
                            </h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end category section -->
    <!-- about section -->

   @*  <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                About Us
                            </h2>
                        </div>
                        <p>
                            Normal distribution of letters, as opposed to using 'Content here, content here', making it look like
                            readable English. Many desktop publishing packages and web page editors has a more-or-less normal
                            distribution of letters, as opposed to using 'Content here, content here', making it look like readable
                            English. Many desktop publishing packages and web page editors
                        </p>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="images/about-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> *@

    <!-- end about section -->
    <!-- job section -->
    @* <section class="job_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    RECENT & FEATURED JOBS
                </h2>
            </div>
            <div class="job_container">
                <h4 class="job_heading">
                    Featured Jobs
                </h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="job_content-box">
                                <div class="img-box">
                                    <img src="images/job_logo1.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Development Team Lead
                                    </h5>
                                    <div class="detail-info">
                                        <h6>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>
                                                Washington. D.C.
                                            </span>
                                        </h6>
                                        <h6>
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>
                                                $1200 - $1300
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="option-box">
                                <button class="fav-btn">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </button>
                                <a href="" class="apply-btn">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="job_content-box">
                                <div class="img-box">
                                    <img src="images/job_logo2.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Make my website responsive device compatible
                                    </h5>
                                    <div class="detail-info">
                                        <h6>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>
                                                New York
                                            </span>
                                        </h6>
                                        <h6>
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>
                                                $200 - $340
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="option-box">
                                <button class="fav-btn">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </button>
                                <a href="" class="apply-btn">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="job_container">
                <h4 class="job_heading">
                    Recent Jobs
                </h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="job_content-box">
                                <div class="img-box">
                                    <img src="images/job_logo3.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Looking Graphic Designer (Logo + UI)
                                    </h5>
                                    <div class="detail-info">
                                        <h6>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>
                                                Washington. D.C.
                                            </span>
                                        </h6>
                                        <h6>
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>
                                                $1200/mo
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="option-box">
                                <button class="fav-btn">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </button>
                                <a href="" class="apply-btn">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="job_content-box">
                                <div class="img-box">
                                    <img src="images/job_logo6.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Are you Typography Expert?
                                    </h5>
                                    <div class="detail-info">
                                        <h6>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>
                                                New York
                                            </span>
                                        </h6>
                                        <h6>
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>
                                                $56 - $90
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="option-box">
                                <button class="fav-btn">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </button>
                                <a href="" class="apply-btn">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="job_content-box">
                                <div class="img-box">
                                    <img src="images/job_logo5.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Looking WordPress Developer for ThemeForest
                                    </h5>
                                    <div class="detail-info">
                                        <h6>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>
                                                Washington. D.C.
                                            </span>
                                        </h6>
                                        <h6>
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>
                                                $400 - $540
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="option-box">
                                <button class="fav-btn">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </button>
                                <a href="" class="apply-btn">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <div class="job_content-box">
                                <div class="img-box">
                                    <img src="images/job_logo4.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Hiring Web Designer for Project
                                    </h5>
                                    <div class="detail-info">
                                        <h6>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>
                                                Washington. D.C.
                                            </span>
                                        </h6>
                                        <h6>
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <span>
                                                $350 - $450
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="option-box">
                                <button class="fav-btn">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </button>
                                <a href="" class="apply-btn">
                                    Apply Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </section> *@
    <!-- end job section -->
    <!-- expert section -->

    @* <section class="expert_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    LOOKING FOR EXPERTS?
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam nulla mauris
                    iaculis. Erat eget vitae malesuada, tortor tincidunt porta lorem lectus.
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/e1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <a href="">
                                Martin Anderson
                            </a>
                            <h6 class="expert_position">
                                <span>
                                    Web Anaylzer
                                </span>
                                <span>
                                    41 Jobs Done
                                </span>
                            </h6>
                            <span class="expert_rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <p>
                                Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam
                                nulla
                                mauris iaculis.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/e2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <a href="">
                                Semanta Klores
                            </a>
                            <h6 class="expert_position">
                                <span>
                                    Graphic Designer
                                </span>
                                <span>
                                    32 Jobs Done
                                </span>
                            </h6>
                            <span class="expert_rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <p>
                                Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam
                                nulla
                                mauris iaculis.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="images/e3.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <a href="">
                                Ryan Martines
                            </a>
                            <h6 class="expert_position">
                                <span>
                                    SEO Expert
                                </span>
                                <span>
                                    27 Jobs Done
                                </span>
                            </h6>
                            <span class="expert_rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <p>
                                Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed quam
                                nulla
                                mauris iaculis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View All Freelancers
                </a>
            </div>
        </div>
    </section> *@

    
   
    