@model ne_izlesek_Web_App.Models.MoviesModel.MovieIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="index_area">
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8 mx-auto">
                    <div class="detail-box">
                        <h1>
                            SİNEMA ve DİZİ <br />
                            Dünyasına Yolculukk
                        </h1>
                        <p>
                            Karar Verme Zorluğunu Ortadan Kaldırın! Binlerce Film ve Dizi, Tek Bir Adreste.
                        </p>
                    </div>
                </div>
            </div>
            <div class="find_container ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form>
                                <div class="form-row ">
                                    <div class="form-group col-lg-3">
                                        <input type="text" class="form-control" id="inputPatientName" placeholder="Keywords">
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <select name="" class="form-control wide" id="inputDoctorName">
                                            <option value="Gerilim">Gerilim</option>
                                            <option value="Aksiyon">Aksiyon</option>
                                            <option value="Komedi">Komedi</option>
                                            <option value="Bilim Kurgu">Bilim Kurgu</option>
                                            <option value="Korku">Korku</option>
                                            <option value="Romantik">Romantik</option>
                                            <option value="Drama">Drama</option>
                                            <option value="Belgesel">Belgesel</option>
                                            <option value="Suç">Suç</option>
                                            <option value="Macera">Macera</option>
                                            <option value="Fantastik">Fantastik</option>
                                            <option value="Animasyon">Animasyon</option>
                                            <option value="Müzikal">Müzikal</option>
                                            <option value="Tarihi">Tarihi</option>
                                            <option value="Gizem">Gizem</option>

                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <select name="" class="form-control wide" id="inputDepartmentName">
                                            <option value="Normal distribution ">2020-? </option>
                                            <option value="Normal distribution ">2010-2020 </option>
                                            <option value="Normal distribution ">2000-2010</option>
                                            <option value="Normal distribution ">1990-2000</option>
                                            <option value="Normal distribution ">?-1990</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <div class="btn-box">
                                            <button type="submit" class="btn ">FİLMLERİ GETİR</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <ul class="job_check_list">
                        <li class=" ">
                            <input id="checkbox_qu_01" type="checkbox" class="styled-checkbox">
                            <label for="checkbox_qu_01">
                                Dizi
                            </label>
                        </li>
                        <li class=" ">
                            <input id="checkbox_qu_02" type="checkbox" class="styled-checkbox">
                            <label for="checkbox_qu_02">
                                Film
                            </label>
                        </li>
                        <li class=" ">
                            <input id="checkbox_qu_03" type="checkbox" class="styled-checkbox">
                            <label for="checkbox_qu_03">
                                Çocuk
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>